<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <script type="text/javascript" src="js/libs/jquery-3.3.1.min.js"></script>
    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script type="text/javascript" src="js/v75.js"></script>
    <script>

        $(document).ready(function () {
            new Vue({
                el: '#app',
                data() {
                    return {
                        race: [[], [], [], [], [], [], []]
                    }
                },
                methods: {
                    toggleSelect: function(event) {
                        console.log("Im clicked");
                    }
                }

            });
        });
    </script>
</head>

<body>
<div id="app">

    <b-card v-for="race in 7" :key="race">
        <b-button pill v-for="horseNumber in 15">{{horseNumber}}</b-button>
    </b-card>

</div>
</body>
</html>